body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: futura;
}

.l-header {
  text-align: center;
  line-height: 68px;
  height: 68px;
  background-color: #006400;
}

.l-header h1 {
  margin: 0;
  color: #fff;
  font-size: 32px;
}

.l-select-primary {
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-select-primary .l-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-select-primary .l-size .size {
  margin: 8px;
  width: 72px;
  height: 36px;
  background-color: #fff;
  border: thin solid #006400;
  border-radius: 3px;
  color: #006400;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
}

.l-select-primary .l-size .size:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 3px 3px 0 #696969;
          box-shadow: 0 3px 3px 0 #696969;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  opacity: 0.7;
}

.l-select-primary .l-size .size:hover:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  opacity: 1px;
  background-color: #696969;
}

.l-select-secondary {
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-select-secondary .l-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-select-secondary .l-method .method {
  margin: 8px;
  width: 72px;
  height: 36px;
  background-color: #fff;
  border: thin solid #006400;
  border-radius: 3px;
  color: #006400;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  background-color: #006400;
  color: #fff;
}

.l-select-secondary .l-method .method:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 3px 3px 0 #696969;
          box-shadow: 0 3px 3px 0 #696969;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  opacity: 0.7;
}

.l-select-secondary .l-method .method:hover:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  opacity: 1px;
  background-color: #696969;
}

.l-select-tertiary {
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-select-tertiary .l-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-select-tertiary .l-direction .direction {
  margin: 8px;
  width: 72px;
  height: 36px;
  background-color: #fff;
  border: thin solid #006400;
  border-radius: 3px;
  color: #006400;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
}

.l-select-tertiary .l-direction .direction:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 3px 3px 0 #696969;
          box-shadow: 0 3px 3px 0 #696969;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  opacity: 0.7;
}

.l-select-tertiary .l-direction .direction:hover:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  opacity: 1px;
  background-color: #696969;
}

footer {
  height: 68px;
  background-color: #006400;
  color: #fff;
  text-align: center;
  line-height: 68px;
}

.paper-size {
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
  font-size: 32px;
  font-weight: bold;
  padding: 0;
}

.l-main {
  height: 432px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: small;
}

.l-main .top-out {
  text-align: center;
}

.l-main .l-primary {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-main .l-primary .left-out > .bottom-out {
  text-align: right;
}

.l-main .l-primary .right-out > .out-one, .l-main .l-primary .out-two, .l-main .l-primary .out-three, .l-main .l-primary .out-four, .l-main .l-primary .out-five, .l-main .l-primary .out-six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-main .l-primary .left-out, .l-main .l-primary .right-out {
  width: 32px;
  height: 300px;
}

.l-main .l-primary .left-out .top-out, .l-main .l-primary .left-out .out-one, .l-main .l-primary .left-out .out-three, .l-main .l-primary .left-out .out-four, .l-main .l-primary .left-out .out-six, .l-main .l-primary .left-out .bottom-out, .l-main .l-primary .right-out .top-out, .l-main .l-primary .right-out .out-one, .l-main .l-primary .right-out .out-three, .l-main .l-primary .right-out .out-four, .l-main .l-primary .right-out .out-six, .l-main .l-primary .right-out .bottom-out {
  height: 20px;
  margin: 1px;
}

.l-main .l-primary .left-out .out-two, .l-main .l-primary .left-out .out-five, .l-main .l-primary .right-out .out-two, .l-main .l-primary .right-out .out-five {
  height: 104px;
  margin: 1px;
}

.l-main .l-primary .one, .l-main .l-primary .three, .l-main .l-primary .four, .l-main .l-primary .six, .l-main .l-primary .seven, .l-main .l-primary .nine, .l-main .l-primary .ten, .l-main .l-primary .twelve {
  width: 20px;
  height: 300px;
}

.l-main .l-primary .one .top-out, .l-main .l-primary .one .bottom-out, .l-main .l-primary .three .top-out, .l-main .l-primary .three .bottom-out, .l-main .l-primary .four .top-out, .l-main .l-primary .four .bottom-out, .l-main .l-primary .six .top-out, .l-main .l-primary .six .bottom-out, .l-main .l-primary .seven .top-out, .l-main .l-primary .seven .bottom-out, .l-main .l-primary .nine .top-out, .l-main .l-primary .nine .bottom-out, .l-main .l-primary .ten .top-out, .l-main .l-primary .ten .bottom-out, .l-main .l-primary .twelve .top-out, .l-main .l-primary .twelve .bottom-out {
  height: 20px;
  margin: 1px;
}

.l-main .l-primary .one .out-one, .l-main .l-primary .one .out-three, .l-main .l-primary .one .out-four, .l-main .l-primary .one .out-six, .l-main .l-primary .three .out-one, .l-main .l-primary .three .out-three, .l-main .l-primary .three .out-four, .l-main .l-primary .three .out-six, .l-main .l-primary .four .out-one, .l-main .l-primary .four .out-three, .l-main .l-primary .four .out-four, .l-main .l-primary .four .out-six, .l-main .l-primary .six .out-one, .l-main .l-primary .six .out-three, .l-main .l-primary .six .out-four, .l-main .l-primary .six .out-six, .l-main .l-primary .seven .out-one, .l-main .l-primary .seven .out-three, .l-main .l-primary .seven .out-four, .l-main .l-primary .seven .out-six, .l-main .l-primary .nine .out-one, .l-main .l-primary .nine .out-three, .l-main .l-primary .nine .out-four, .l-main .l-primary .nine .out-six, .l-main .l-primary .ten .out-one, .l-main .l-primary .ten .out-three, .l-main .l-primary .ten .out-four, .l-main .l-primary .ten .out-six, .l-main .l-primary .twelve .out-one, .l-main .l-primary .twelve .out-three, .l-main .l-primary .twelve .out-four, .l-main .l-primary .twelve .out-six {
  height: 20px;
  background-color: #006400;
  margin: 1px;
}

.l-main .l-primary .one .out-two, .l-main .l-primary .one .out-five, .l-main .l-primary .three .out-two, .l-main .l-primary .three .out-five, .l-main .l-primary .four .out-two, .l-main .l-primary .four .out-five, .l-main .l-primary .six .out-two, .l-main .l-primary .six .out-five, .l-main .l-primary .seven .out-two, .l-main .l-primary .seven .out-five, .l-main .l-primary .nine .out-two, .l-main .l-primary .nine .out-five, .l-main .l-primary .ten .out-two, .l-main .l-primary .ten .out-five, .l-main .l-primary .twelve .out-two, .l-main .l-primary .twelve .out-five {
  height: 104px;
  background-color: #006400;
  margin: 1px;
}

.l-main .l-primary .two, .l-main .l-primary .five, .l-main .l-primary .eight, .l-main .l-primary .eleven {
  width: 80px;
  height: 300px;
}

.l-main .l-primary .two .top-out, .l-main .l-primary .two .bottom-out, .l-main .l-primary .five .top-out, .l-main .l-primary .five .bottom-out, .l-main .l-primary .eight .top-out, .l-main .l-primary .eight .bottom-out, .l-main .l-primary .eleven .top-out, .l-main .l-primary .eleven .bottom-out {
  height: 20px;
  margin: 1px;
}

.l-main .l-primary .two .out-one, .l-main .l-primary .two .out-three, .l-main .l-primary .two .out-four, .l-main .l-primary .two .out-six, .l-main .l-primary .five .out-one, .l-main .l-primary .five .out-three, .l-main .l-primary .five .out-four, .l-main .l-primary .five .out-six, .l-main .l-primary .eight .out-one, .l-main .l-primary .eight .out-three, .l-main .l-primary .eight .out-four, .l-main .l-primary .eight .out-six, .l-main .l-primary .eleven .out-one, .l-main .l-primary .eleven .out-three, .l-main .l-primary .eleven .out-four, .l-main .l-primary .eleven .out-six {
  height: 20px;
  background-color: #006400;
  margin: 1px;
}

.l-main .l-primary .two .out-two, .l-main .l-primary .two .out-five, .l-main .l-primary .five .out-two, .l-main .l-primary .five .out-five, .l-main .l-primary .eight .out-two, .l-main .l-primary .eight .out-five, .l-main .l-primary .eleven .out-two, .l-main .l-primary .eleven .out-five {
  height: 104px;
  background-color: #006400;
  margin: 1px;
  color: #fff;
}

.l-main .l-secondary {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-main .l-secondary .left-out > .out-one, .l-main .l-secondary .out-two, .l-main .l-secondary .out-three, .l-main .l-secondary .out-four, .l-main .l-secondary .out-five, .l-main .l-secondary .out-six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.l-main .l-secondary .left-out, .l-main .l-secondary .right-out {
  width: 32px;
  height: 300px;
}

.l-main .l-secondary .left-out .top-out, .l-main .l-secondary .left-out .out-one, .l-main .l-secondary .left-out .out-three, .l-main .l-secondary .left-out .out-four, .l-main .l-secondary .left-out .out-six, .l-main .l-secondary .left-out .bottom-out, .l-main .l-secondary .right-out .top-out, .l-main .l-secondary .right-out .out-one, .l-main .l-secondary .right-out .out-three, .l-main .l-secondary .right-out .out-four, .l-main .l-secondary .right-out .out-six, .l-main .l-secondary .right-out .bottom-out {
  height: 20px;
  margin: 1px;
}

.l-main .l-secondary .left-out .out-two, .l-main .l-secondary .left-out .out-five, .l-main .l-secondary .right-out .out-two, .l-main .l-secondary .right-out .out-five {
  height: 104px;
  margin: 1px;
}

.l-main .l-secondary .one, .l-main .l-secondary .three, .l-main .l-secondary .four, .l-main .l-secondary .six, .l-main .l-secondary .seven, .l-main .l-secondary .nine, .l-main .l-secondary .ten, .l-main .l-secondary .twelve {
  width: 20px;
  height: 300px;
}

.l-main .l-secondary .one .top-out, .l-main .l-secondary .one .bottom-out, .l-main .l-secondary .three .top-out, .l-main .l-secondary .three .bottom-out, .l-main .l-secondary .four .top-out, .l-main .l-secondary .four .bottom-out, .l-main .l-secondary .six .top-out, .l-main .l-secondary .six .bottom-out, .l-main .l-secondary .seven .top-out, .l-main .l-secondary .seven .bottom-out, .l-main .l-secondary .nine .top-out, .l-main .l-secondary .nine .bottom-out, .l-main .l-secondary .ten .top-out, .l-main .l-secondary .ten .bottom-out, .l-main .l-secondary .twelve .top-out, .l-main .l-secondary .twelve .bottom-out {
  height: 20px;
  margin: 1px;
}

.l-main .l-secondary .one .out-one, .l-main .l-secondary .one .out-three, .l-main .l-secondary .one .out-four, .l-main .l-secondary .one .out-six, .l-main .l-secondary .three .out-one, .l-main .l-secondary .three .out-three, .l-main .l-secondary .three .out-four, .l-main .l-secondary .three .out-six, .l-main .l-secondary .four .out-one, .l-main .l-secondary .four .out-three, .l-main .l-secondary .four .out-four, .l-main .l-secondary .four .out-six, .l-main .l-secondary .six .out-one, .l-main .l-secondary .six .out-three, .l-main .l-secondary .six .out-four, .l-main .l-secondary .six .out-six, .l-main .l-secondary .seven .out-one, .l-main .l-secondary .seven .out-three, .l-main .l-secondary .seven .out-four, .l-main .l-secondary .seven .out-six, .l-main .l-secondary .nine .out-one, .l-main .l-secondary .nine .out-three, .l-main .l-secondary .nine .out-four, .l-main .l-secondary .nine .out-six, .l-main .l-secondary .ten .out-one, .l-main .l-secondary .ten .out-three, .l-main .l-secondary .ten .out-four, .l-main .l-secondary .ten .out-six, .l-main .l-secondary .twelve .out-one, .l-main .l-secondary .twelve .out-three, .l-main .l-secondary .twelve .out-four, .l-main .l-secondary .twelve .out-six {
  height: 20px;
  background-color: #006400;
  margin: 1px;
}

.l-main .l-secondary .one .out-two, .l-main .l-secondary .one .out-five, .l-main .l-secondary .three .out-two, .l-main .l-secondary .three .out-five, .l-main .l-secondary .four .out-two, .l-main .l-secondary .four .out-five, .l-main .l-secondary .six .out-two, .l-main .l-secondary .six .out-five, .l-main .l-secondary .seven .out-two, .l-main .l-secondary .seven .out-five, .l-main .l-secondary .nine .out-two, .l-main .l-secondary .nine .out-five, .l-main .l-secondary .ten .out-two, .l-main .l-secondary .ten .out-five, .l-main .l-secondary .twelve .out-two, .l-main .l-secondary .twelve .out-five {
  height: 104px;
  background-color: #006400;
  margin: 1px;
}

.l-main .l-secondary .two, .l-main .l-secondary .five, .l-main .l-secondary .eight, .l-main .l-secondary .eleven {
  width: 80px;
  height: 300px;
}

.l-main .l-secondary .two .top-out, .l-main .l-secondary .two .bottom-out, .l-main .l-secondary .five .top-out, .l-main .l-secondary .five .bottom-out, .l-main .l-secondary .eight .top-out, .l-main .l-secondary .eight .bottom-out, .l-main .l-secondary .eleven .top-out, .l-main .l-secondary .eleven .bottom-out {
  height: 20px;
  margin: 1px;
}

.l-main .l-secondary .two .out-one, .l-main .l-secondary .two .out-three, .l-main .l-secondary .two .out-four, .l-main .l-secondary .two .out-six, .l-main .l-secondary .five .out-one, .l-main .l-secondary .five .out-three, .l-main .l-secondary .five .out-four, .l-main .l-secondary .five .out-six, .l-main .l-secondary .eight .out-one, .l-main .l-secondary .eight .out-three, .l-main .l-secondary .eight .out-four, .l-main .l-secondary .eight .out-six, .l-main .l-secondary .eleven .out-one, .l-main .l-secondary .eleven .out-three, .l-main .l-secondary .eleven .out-four, .l-main .l-secondary .eleven .out-six {
  height: 20px;
  background-color: #006400;
  margin: 1px;
}

.l-main .l-secondary .two .out-two, .l-main .l-secondary .two .out-five, .l-main .l-secondary .five .out-two, .l-main .l-secondary .five .out-five, .l-main .l-secondary .eight .out-two, .l-main .l-secondary .eight .out-five, .l-main .l-secondary .eleven .out-two, .l-main .l-secondary .eleven .out-five {
  height: 104px;
  background-color: #006400;
  margin: 1px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */