@mixin button {
  margin: $select-margin;
  width: $select-size;
  height: $select-size/2;
  background-color: $base-color;
  border: thin solid $main-color;
  border-radius: $effect;
  color: $main-color;
  text-align: center;
  line-height: $select-size/2;
  font-size: $select-font-size;
  &:hover {
    cursor: pointer;
    box-shadow: 0 $effect $effect 0 #696969;
    transform: translateY(-$effect);
    opacity: 0.7;
    &:active {
      box-shadow: none;
      transform: translateY($effect);
      opacity: $groove;
      background-color: #696969;
    }
  }
}

@mixin l-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: futura;
}

$main-height: 432px;
$main-color: #3cb371;
$header-height: 68px;
$base-color: #fff;
$h1-size: 32px;
$small-size: 20px;
$big-height-size: 104px;
$big-width-size: 80px;
$all-height: 300px;
$out-height: 32px;
$out-width: 32px;
$paper-size-height: 68px;
$footer-height: 68px;
$l-select-size: 52px;
$select-size: 72px;
$select-font-size: 16px;
$select-margin: 8px;
$effect: 3px;
$groove: 1px;
$main-item-width: 50%;
$alert-color: red;
$alert-size: 32px;

.l-header {
  text-align: center;
  line-height: $header-height;
  height: $header-height;
  background-color: $main-color;
  h1 {
    margin: 0;
    color: $base-color;
    font-size: $h1-size;
  }
}

.l-select-primary {
  height: $l-select-size;
  display: flex;
  .l-size {
    @include l-button;
    .size {
      @include button;
    }
  }
}

.l-select-secondary {
  height: $l-select-size;
  display: flex;
  .l-method {
    @include l-button;
    .method {
      @include button;
      background-color: $main-color;
      color: $base-color;
    }
  }
}

.l-select-tertiary {
  height: $l-select-size;
  display: flex;
  .l-direction {
    @include l-button;
    .direction {
      @include button;
    }
  }
}

footer {
  height: $footer-height;
  background-color: $main-color;
  color: $base-color;
  text-align: center;
  line-height: $footer-height;
}

.paper-size {
  height: $paper-size-height;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $alert-color;
  font-size: $alert-size;
  font-weight: bold;
  padding: 0;
}

.l-main {
  height: $main-height;
  display: flex;
  font-size: small;
  .top-out {
    text-align: center;
  }
  .l-primary {
    width: $main-item-width;
    display: flex;
    justify-content: center;
    align-items: center;
    .left-out>.bottom-out {
      text-align: right;
    }
    .right-out>.out-one,.out-two,.out-three,.out-four,.out-five,.out-six {
      display: flex;
      align-items: center;
    }
    .left-out,.right-out {
      width: $out-width;
      height: $all-height;
      .top-out,.out-one,.out-three,.out-four,.out-six,.bottom-out {
        height: $small-size;
        margin: $groove;
      }
      .out-two,.out-five {
        height: $big-height-size;
        margin: $groove;
      }
    }
    .one,.three,.four,.six,.seven,.nine,.ten,.twelve {
      width: $small-size;
      height: $all-height;
      .top-out,.bottom-out {
        height: $small-size;
        margin: $groove;
      }
      .out-one,.out-three,.out-four,.out-six {
        height: $small-size;
        background-color: $main-color;
        margin: $groove;
      }
      .out-two,.out-five {
        height: $big-height-size;
        background-color: $main-color;
        margin: $groove;
      }
    }
    .two,.five,.eight,.eleven {
      width: $big-width-size;
      height: $all-height;
      .top-out,.bottom-out {
        height: $small-size;
        margin: $groove;
      }
      .out-one,.out-three,.out-four,.out-six {
        height: $small-size;
        background-color: $main-color;
        margin: $groove;
      }
      .out-two,.out-five {
        height: $big-height-size;
        background-color: $base-color;
        margin: $groove;
        color: $main-color
      }
    }
  }
  .l-secondary {
    width: $main-item-width;
    display: flex;
    justify-content: center;
    align-items: center;
    .left-out>.out-one,.out-two,.out-three,.out-four,.out-five,.out-six {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .left-out,.right-out {
      width: $out-width;
      height: $all-height;
      .top-out,.out-one,.out-three,.out-four,.out-six,.bottom-out {
        height: $small-size;
        margin: $groove;
      }
      .out-two,.out-five {
        height: $big-height-size;
        margin: $groove;
      }
    }
    .one,.three,.four,.six,.seven,.nine,.ten,.twelve {
      width: $small-size;
      height: $all-height;
      .top-out,.bottom-out {
        height: $small-size;
        margin: $groove;
      }
      .out-one,.out-three,.out-four,.out-six {
        height: $small-size;
        background-color: $main-color;
        margin: $groove;
      }
      .out-two,.out-five {
        height: $big-height-size;
        background-color: $main-color;
        margin: $groove;
      }
    }
    .two,.five,.eight,.eleven {
      width: $big-width-size;
      height: $all-height;
      .top-out,.bottom-out {
        height: $small-size;
        margin: $groove;
      }
      .out-one,.out-three,.out-four,.out-six {
        height: $small-size;
        background-color: $main-color;
        margin: $groove;
      }
      .out-two,.out-five {
        height: $big-height-size;
        background-color: $base-color;
        margin: $groove;
        color: $main-color;
      }
    }
  }
}